---
import QuoteWrapper from '../QuoteWrapper.astro';
---

<QuoteWrapper author="Barack Obama (44th POTUS)">
    Our actions matter, and can <span class="text-amber-500 font-bold">bend history in the direction of justice.</span> For if we lose that faith – if we dismiss it as silly or naïve; if we divorce it from the decisions that we make – then we lose <span class="text-amber-500 font-bold">what’s best about humanity.</span> We lose our sense of possibility. <span class="text-amber-500 font-bold">We lose our moral compass.</span>
</QuoteWrapper>