---
import QuoteWrapper from '../QuoteWrapper.astro';
---

<QuoteWrapper author="Maria Ressa (2021 Nobel Peace Prize Laureate)">
    Now, please, with me, close your eyes. And <span class="text-amber-500 font-bold">imagine the world</span> as it should be. A world of peace, trust and empathy, <span class="text-amber-500 font-bold">bringing out the best</span> that we can be. Now let’s go and make it happen. Let’s hold the line. <span class="text-amber-500 font-bold">Together</span>.
</QuoteWrapper>