---
---

<div class="w-dvw h-dvh flex flex-col overflow-y-hidden">
    <div class="w-full">
        <slot name="header" />
    </div>
    <div class="w-full grow overflow-x-scroll">
        <slot />
    </div>
</div>