---
---

<div class="w-screen min-h-screen overflow-hidden flex flex-col">
    <div class="w-full">
        <slot name="header" />
    </div>
    <main class="w-full flex-1 overflow-auto">
        <slot />
    </main>
</div>