---
---

<div id="ripple-canvas-parent" class="w-dvw h-dvh relative">
    <canvas id="ripple-canvas" class="w-dvh h-dvh"></canvas>
    <div id="offscreen-division" class="w-dvw h-dvh">
        <slot />
    </div>
</div>

<script src="../../scripts/rippleLoader.ts"></script>
