---
import Button from "../../shared/button.astro"

const { class: className } = Astro.props;
---
<div class={className}>
    <div class={`w-full px-48 bg-neutral-900 items-center flex`}>
        <div class="h-full flex items-center justify-center py-5">
            <p class="text-amber-400 uppercase font-[1000] font-main mr-3 tracking-wide">Interested in photography:</p>
            <p class="text-neutral-300 font-extrabold font-main tracking-wide">Check out my photography page to see my art and what services I can offer you!</p>
        </div>
        <div class="grow" />
        <div class="flex items-center justify-center h-full">
            <Button href="#">tango2november.photos -&gt</Button>
        </div>
    </div>
</div>