---

---
<div class="w-full">
	<div class="flex flex-row justify-center items-center">
        <div class="grow" />
		<div class="h-2/4 mx-32 flex flex-col max-w-3/5 items-end">
            <p class="font-mono text-3xl uppercase font-extrabold">
                About <span class="text-amber-500">Me</span>
            </p>
            <p class="grow font-mono text-xl uppercase font-regular mt-6 text-justify" >
                Driven by a passion to help others, my formative years have been spent split between schooling, a <span class="text-amber-500 font-bold">passion for leadership,</span> and finding balance in my life. Through leadership groups, in and out of school, I try to push that <span class="text-amber-500 font-bold">empathy and togetherness</span> that Maria Ressa strives towards, while also focusing on my own goals of professionalism and communication.
            </p>
            <div class="w-full mt-4">
                <p class="font-mono text-2xl font-light flex justify-center hover:w-fit h-fit bg-amber-500 hover:bg-gray-100 text-white hover:text-black w-99">
                    <a class="cursor-none" href="#">LEARN MORE ABOUT LEADERSHIP</a>
                </p>
            </div>
        </div>
	</div>
</div>