---

---
<div class="w-full">
	<div class="flex flex-row justify-center items-center">
        <div class="grow" />
		<div class="h-2/4 mx-32 flex flex-col max-w-3/5 items-end">
            <p class="font-mono text-3xl uppercase font-extrabold">
                <span class="text-amber-500">CORE PRINCIPALS</span>
            </p>
            <p class="grow font-mono text-xl uppercase font-regular mt-6 text-justify" >
                Driven by a passion to help others, my formative years have been spent <span class="text-amber-500 font-bold">shaping my small communities.</span> As a member of the executive team for a physics club I ratified a proposal to <span class="text-amber-500 font-bold">require diversity</span> in successive executives, increasing STEM minority representation. As an IB Director I pulled my weight, becoming nicknamed “Trusty Torsten”, and displaying my <span class="text-amber-500 font-bold">passion for leadership.</span> As a founding IB Mentor I strived to create communities that <span class="text-amber-500 font-bold">foster the empathy and togetherness</span> that Maria Ressa encourages us to find. As I lead into my next uncertain chapter of my life, I am reminded that the fight for a “world as it should be” is <span class="text-amber-500 font-bold">far from over,</span> and hence it is an ideal that must <span class="text-amber-500 font-bold">stay in the forefront</span> of my personal drive.
            </p>
            <div class="w-full mt-4">
                <p class="font-mono text-2xl font-light flex justify-center hover:w-fit h-fit bg-amber-500 hover:bg-gray-100 text-white hover:text-black w-38">
                    <!-- VALUES, TODO THAT PAGE EMPHASIZES MY VALUES A LOT -->
                    <a class="cursor-none" href="#">LEARN MORE</a>
                </p>
            </div>
        </div>
	</div>
</div>