---

---
<div class="w-full">
	<div class="flex flex-row justify-center items-center">
        <div class="grow" />
		<div class="h-2/4 mx-32 flex flex-col max-w-2/3 items-end">
            <p class="font-mono text-5xl uppercase font-extrabold">
                <span class="text-amber-500">ABOUT</span>
            </p>
            <p class="grow font-mono uppercase font-regular mt-6 text-justify leading-10 text-2xl" >
                Driven by a passion to help others, my formative years have been spent <span class="text-amber-500 font-bold">helping the world around me.</span> As an IB Director I pulled my weight, becoming nicknamed “Trusty Torsten”, and displaying my <span class="text-amber-500 font-bold">passion for leadership.</span> As a founding IB Mentor I strived to create communities that <span class="text-amber-500 font-bold">foster the empathy and togetherness</span> that Maria Ressa encourages us to find. As I lead into my next uncertain chapter of my life, I am reminded that the fight for a “world as it should be” is <span class="text-amber-500 font-bold">far from over,</span> and hence it is an ideal that must <span class="text-amber-500 font-bold">stay in the forefront</span> of my personal drive.
            </p>
            <p class="grow font-mono uppercase font-regular mt-8 text-justify leading-10 text-2xl">
                Born and raised in <span class="text-amber-500 font-bold">Vancouver, British Columbia, Canada,</span> I enjoy learning, sports, and having fun. As a high school senior I am planning to study for a <span class="text-amber-500 font-bold">Bachelor of Applied Science at Queen's University</span> in Kingston, Ontario. Outside of studies and leadership I like to focus on staying active, whether through running in the Vancouver Sun Run, biking, or playing soccer. Recently I have re-kindled my love of photography of all sorts and have continued enjoying my time with friends as this exciting year draws to a bittersweet close. I am looking forward to what university has to offer for learning and networking. I hope to continue to always bring maximum effort to any challenge I may face, whether big or small.
            </p>
        </div>
	</div>
</div>