---
import JobCard from "./JobCard.astro"

const MACExperience = [
    {
        "title" : "Intermediate Sailing Instructor",
        "start" : "January 2026",
        "end" : "Present",
        "location" : "Hybrid"
    },
    {
        "title" : "Junior Sailing Instructor",
        "start" : "June 2025",
        "end" : "December 2025",
        "location" : "On Site"
    }
];

const ChurchillExperience = [
    {
        "title" : "Student",
        "start" : "September 2024",
        "end" : "June 2026",
        "location" : "On Site",
        "hasDiploma" : true,
        "diploma" : "International Baccalaureate Diploma",
        "hasSecondDiploma" : true,
        "secondDiploma" : "British Columbia Dogwood"
    },
    {
        "title" : "IB Director Volunteer",
        "start" : "January 2025",
        "end" : "February 2026",
        "location" : "Hybrid"
    },
    {
        "title" : "IB Mentor Volunteer",
        "start" : "February 2025",
        "end" : "March 2026",
        "location" : "Hybrid"
    }
];

const RVYCExperience = [
    {
        "title" : "Markset Driver",
        "start" : "March 2025",
        "end" : "Present",
        "location" : "On Site"
    },
    {
        "title" : "Junior Sailing Instructor",
        "start" : "June 2024",
        "end" : "September 2024",
        "location" : "On Site"
    },
    {
        "title" : "Markset Crew",
        "start" : "March 2023",
        "end" : "March 2025",
        "location" : "On Site"
    },
    {
        "title" : "Markset Trainee",
        "start" : "March 2022",
        "end" : "March 2023",
        "location" : "On Site"
    }
];

---
<div class="w-full">
	<div class="flex flex-row justify-center items-center">
		<div class="mx-32 flex flex-col items-start grow">
            <p class="font-mono text-5xl uppercase font-extrabold mb-4">
                <span class="text-amber-500">/ EXPERIENCE AND EDUCATION</span>
            </p>
            <JobCard employer="MAC Sailing" type="Seasonal" positions={MACExperience} />
            <JobCard employer="Sir Winston Churchill + International Baccalaureate" type="Full Time" positions={ChurchillExperience} />
            <JobCard employer="Royal Vancouver Yacht Club" type="Seasonal" positions={RVYCExperience} />
        </div>
        <div class="w-2/5" />
	</div>
    
</div>