---

---
<div class="w-full h-full flex">
	<div class="grow flex flex-row justify-center items-center">
		<div class="h-2/4 mx-32 flex flex-col max-w-2/5">
            <p class="font-mono text-2xl uppercase font-extrabold">
                Now, please, with me, close your eyes. And <span class="text-amber-500">imagine the world</span> as it should be. A world of peace, trust and empathy, <span class="text-amber-500">bringing out the best</span> that we can be. Now let’s go and make it happen. Let’s hold the line. <span class="text-amber-500">Together</span>.
            </p>
            <p class="grow font-mono text-xl uppercase font-light mt-6" >-Maria Ressa (2021 Nobel Peace Prize)</p>
        </div>
        <div class="grow h-full flex justify-center items-center">
            <div class="aspect-square h-1/2 max-w-full bg-amber-500 rounded-full" ></div>
        </div>
	</div>
</div>