---
---

<div class="w-dvw h-dvh">
    <canvas id="ripple-canvas" class="w-dvw h-dvh"></canvas>
    <div id="offscreen-division" class="w-dvw h-dvh">
        <slot />
    </div>
</div>

<script src="../scripts/rippleLoader.ts"></script>
