---

---
<div class="w-full">
	<div class="flex flex-row justify-center items-center">
		<div class="h-2/4 mx-32 flex flex-col max-w-2/3 items-start">
            <p class="font-mono text-5xl uppercase font-extrabold">
                <span class="text-amber-500">/ VALUES</span>
            </p>

            <p class="font-mono font-bold text-2xl mt-6">TEAMWORK.</p>
            <p class="font-mono font-bold text-2xl mt-4">ACCOUNTABILITY.</p>
            <p class="font-mono font-bold text-2xl mt-4">COMMUNICATION.</p>
            <p class="font-mono font-bold text-2xl mt-4">EQUALITY.</p>
            <p class="grow font-mono uppercase font-regular mt-6 text-justify leading-10 text-xl" >
                Our values are what defines us as a person. And while it is hard, if not impossible, to really cut this complex concept down to just a few words, I wanted to highlight the values that I feel are <span class="text-amber-500 font-bold">most applicable</span> to professional settings. While I feel that all of these values come together as a package, each brings its own <span class="text-amber-500 font-bold">unique strengths. Teamwork</span> to me encompasses the idea that people help each other, and that everyone feels supported in whatever they do. <span class="text-amber-500 font-bold">Accountability is the balanced opposite to teamwork,</span> showing us that each person should fill their roll to the best of their abilities. In every case <span class="text-amber-500 font-bold">communication is required,</span> as I believe that having an idea of the big picture as it evolves is integral to ensuring that every person cam focus on their specialty while working as a team. And last but not least, to me <span class="text-amber-500 font-bold">equality means supporting others,</span> so that all members of a team are treated as equally valuable, allowing a <span class="text-amber-500 font-bold">essential and productive</span> exchange of ideas.
            </p>
        </div>
        <div class="grow" />
	</div>
</div>