---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container" class="w-dvw h-dvh">
	<div id="content-container" class="w-full h-full flex flex-col">
		<div id="top" class="w-full min-h-16 grow-3 bg-red-500 flex flex-row">
			<div id="top-left" class="h-full min-w-12">

			</div>
			<div id="top-center h-full grow">

			</div>
			<div id="top-right">

			</div>
		</div>
		<div id="center" class="w-full h-112 bg-blue-500">
			<div id="center-left" class="h-full min-w-12">

			</div>
			<div>

			</div>
		</div>
		<div id="bottom" class="w-full min-h-20 grow-2 bg-green-500">

		</div>
	</div>
	
</div>

<style>